#container {
    width: 960px;
    height: 500px;
    border: solid magenta;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;


 
    padding: 30px 30px 30px 10px;
}
body{ font-family:gotu;}
p, ul {
   background-color: white;
    opacity: 0.8;
     
    }


#LoseYourself{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT0F_xF8eZQbsHwCnnunzEJbfYBB7WHLnRW-bXtqxKQeQjwpZxc&usqp=CAU");  
    width: 41%;
    float:left;
    margin-bottom: 2%;
    margin-top: 3%;
     margin-left:2%;
     margin-right:2%;
     padding: 20px;
     height: 80%;
      border: solid thin magenta;
}
#KeyToSuccess{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSo0l_YZTJ7Lss0MB4QpgJVAz7MHnDZFUV1haGrhaEBjRGbktAv&usqp=CAU");
    width: 41%;
    float:right;
    margin-bottom: 2%;
    margin-top: 3%;
     margin-left:2%;
     margin-right:2%;
     padding: 20px;
      height: 80%;
       border: solid thin magenta;
}

    body{ background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBXgqSq4fDu6rJ7wDLuG_eaaShucqd-aHtuUv7HCAfGgpmNYPk&usqp=CAU);
    }